  .product{
    
    width: 300px;
      height: 250px;
    background-color: aqua;
      float: left;
      margin: 15px;
      position:relative;
}

.add{
    
    position: static;
    margin-top: 50px;
    
    
}